# Terraform
.terraform/
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfstate.backup

# Variables (if they have secrets)
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI artifacts
.terraformrc
terraform.rc

# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
